POSTGRES_DB=mkwanjabet
POSTGRES_USER=mkwanjabet
POSTGRES_PASSWORD=REPLACE_WITH_A_STRONG_DATABASE_PASSWORD
NODE_ENV=production
JWT_ACCESS_SECRET=REPLACE_WITH_AT_LEAST_64_RANDOM_CHARACTERS
JWT_REFRESH_SECRET=REPLACE_WITH_A_DIFFERENT_64_CHARACTER_SECRET
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
CORS_ORIGINS=https://mkwanjabet.co.tz,https://www.mkwanjabet.co.tz
SWAGGER_ENABLED=false
NEXT_PUBLIC_API_URL=https://api.mkwanjabet.co.tz/api/v1
SONICPESA_BASE_URL=https://api.sonicpesa.com/api/v1
SONICPESA_API_KEY=
SONICPESA_API_SECRET=


API_FOOTBALL_KEY=
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
API_FOOTBALL_TIMEZONE=Africa/Dar_es_Salaam
API_FOOTBALL_DATE=
API_FOOTBALL_REFRESH_MINUTES=60
API_FOOTBALL_DEMO_ODDS=false

# Leon Bet Feed
LEONBET_ENABLED=false
LEONBET_PROXY_URL=
