NODE_ENV=development
PORT=4010
DATABASE_URL=postgresql://mkwanjabet:CHANGE_ME@localhost:5433/mkwanjabet
JWT_ACCESS_SECRET=CHANGE_TO_A_LONG_RANDOM_SECRET
JWT_REFRESH_SECRET=CHANGE_TO_ANOTHER_LONG_RANDOM_SECRET
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
CORS_ORIGINS=http://localhost:3000,https://mkwanjabet.co.tz
SWAGGER_ENABLED=true
SONICPESA_BASE_URL=https://api.sonicpesa.com/api/v1
SONICPESA_API_KEY=
SONICPESA_API_SECRET=

